.text-info {
  display: block;
  color: #757575;
  margin-top: 10px;
  font-size: 12px;
  width: 100%;
}

.loading {
  opacity: .4;
}

.relative {
  position: relative;
}

.amount-info {
  font-weight: bold;
}

.title {
  margin-bottom: 0;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.stop-losses {
  display: flex;
  flex-direction: row;
  width: 100%
}

.stop-losses > .prefixedTextField:first-child {
  margin-right: 50px;
}

.inline {
  display: flex;
  width: 100%;
}

.action-buttons {
  margin: 50px 0;
  width: 100%;
}